body {
  background-image: url("../img15.jpg");

  background-repeat: no-repeat;

  background-size: cover;
  max-width: 100%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  text-align: center;
}

h1 {
  color: #ebede9;
  font-size: 46px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 10px;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
}

small {
  border-radius: 4px;
  padding: 5px;
  line-height: 58px;
  color: #ffffff;
}

a {
  color: #49b3ff;
  font-weight: bolder;
}

a:hover {
  color: #c6e7ff;
}

.weather-app-wrapper {
  max-width: 700px;
  min-width: 700px;
  margin: 70px auto;
}

.weather-app {
  backdrop-filter: blur(1px);
  padding: 50px;
  border-radius: 20px;

  background-color: rgba(185, 211, 183, 0.4);
}

.overview {
  margin-bottom: 30px;
}

.btn-primary {
  font-size: 18px;
  font-weight: bold;
  background-color: #ffffff21;
  border: none;
}
.btn-primary:hover {
  background-color: #ffffff;

  transition: all 500ms ease-in-out;
}

#lastUptated {
  font-size: 14px;
  text-align: left;
}

#description:first-letter {
  text-transform: capitalize;
}
#description {
  margin: 20px 450px 2px 20px;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  font-weight: 1000;
  color: #000000c5;
  opacity: 0.7;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-weight: 400;
  font-size: 88px;
  color: #ebede9;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 26px;
  top: -44px;
  left: -8px;
  color: #ebede9;
}

.second-colon {
  backdrop-filter: brightness(10%);

  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

.weather-forecast-date {
  font-size: 22px;
  font-weight: 1000;
  color: #000000c5;
  opacity: 0.7;
  margin-top: 30px;
}

.weather-forecast-temperature {
  font-weight: 700;
  color: #000000c7;
  font-size: 18px;
}

#weather-forecast-temperature-min {
  opacity: 0.7;
}

#button {
  color: #182b26a2;
}
