body {
  background-image: url("../img15.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #ebede9;
  font-size: 46px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 20px;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
}
div {
  text-align: center;
}
small {
  border-radius: 4px;
  padding: 5px;
  line-height: 58px;
  color: #ffffff;
}
a {
  color: #b9beff;
}

a:hover {
  color: #b9beff;
}

.weather-app-wrapper {
  max-width: 700px;
}

.weather-app {
  padding: 50px;
  border-radius: 30px;
  background-color: rgba(135, 156, 135, 0.6);
  border-color: rgb(0 151 36 / 9%);
}
.second-colon {
  backdrop-filter: blur(1px) brightness(80%);
  border: 1px solid rgba(221, 221, 221, 0.322);
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}
.btn-primary {
  font-size: 18px;
  font-weight: bold;
  background-color: #ffffff33;
  border: none;
  backdrop-filter: blur(1.5px);
}
.btn-primary:hover {
  background-color: #ffffff;
  border-color: #ffffff6e;
  filter: blur(0px);
  transition: all 500ms ease-in-out;
}

.overview {
  margin-bottom: 100px;
}

#lastUptated {
  font-size: 14px;
  text-align: left;
}

#description:first-letter {
  text-transform: capitalize;
}
#description {
  backdrop-filter: blur(1px) brightness(80%);
  margin: 20px 450px 20px 0px;
  padding: 10px;
  text-align: center;
  border: 1px solid rgba(221, 221, 221, 0.322);
  border-radius: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-weight: 400;
  font-size: 88px;
  color: rgba(255, 255, 255, 0.863);
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: rgb(255, 255, 255);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

#button {
  color: #182b26a2;
}

#minC,
#maxC,
#minF,
#maxF {
  color: rgb(255, 255, 255);
}

.weather-forcast {
  margin-top: 30px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: #ffffff;
  opacity: 0.6;
}

#weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperature {
  font-size: 13px;
  color: #ffffff;
}
